# Keys setup
#
# Format :
# 'keyname' =>  { :secret => 'key_secret',
#                 :branches => {
#                 'branch_name' => 'some_directory',
#                 ...
#                 }
#               }

# Where  : 
# - keyname is some name you want to address your app as
# - key_secret : some shared secret betweek hook caller and callee
# - working_dir : the directory with the git repository
#
# Using in gitlab :
#
# Use this URL in gitlab to trigger a repos sync :
#
# http://host:port/deploy?api_key=keyname&api_secret=key_secret
#

KEYS = {
  'sandbox' =>
  { :secret => 'sandbox_secret',
    :branches => {
      'master' => './sandbox/test_repos/master',
      'devel' => './sandbox/test_repos/devel'
    }
  }
}

#
# Mail notification options
# see https://github.com/benprew/pony for more info
# 
PONY = {
  :from => 'me@example.com',
  :via => :smtp,
  :via_options => {
    :address        => 'smtp.example.com',
    :port           => '25',
    :domain         => "localhost.localdomain" # the HELO domain provided by the client to the server
  }
}


